@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  font-family: 'Inter', 'sans-serif';
}
.all {
   
  width: 97.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
  flex-wrap: wrap;


}

.App{
display: flex;
flex-direction: column;

}




.navbar{
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 90%;
  border-bottom: 1px solid #ccc;
  padding: 3rem 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  min-width: 30rem;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline rgb(33, 32, 32) solid 1px;
  transition: all 0.35s ease-in-out;
}

.links a:hover {
  color: #f35353;
  font-size: 2rem;
  text-decoration: none;
}

.top{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  height: 70%;
  padding: 3rem 2rem;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.top-left{
  width: clamp(100rem, 60%, 200rem);
  min-height: 50%;
}

.top-right {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: hsl(240, 100%, 5%) ;
  color: aliceblue;
  max-width: 25rem;
  padding: 0 2rem;
  flex-wrap:wrap;

}
.top-right h1{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
  color: hsl(35, 77%, 62%)
}

hr {
  
  width: 100%;
  opacity: 40%;
  box-shadow: white 0px 0px 1px;
}

.haut {
   
  background-image: url("C:/Users/fujitsu/challenge-3/src/images/image-web-3-desktop.jpg");
  min-width: 100%;
  min-height: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.bas {
  display: flex;
   
  min-width: 100%;

  min-height: 50%;
  justify-content: space-between;
}

.bottom {
   
  
  height: 15rem;
  margin: 2rem 1rem;
}

.left {
  font-size: 2rem;
  text-align: left;
  overflow: hidden;
  font-weight: bolder;
  width: 50%;
      
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: large;

  text-align: left;
  width: 50%;
  font-weight: 700;
  overflow: hidden;
  font-weight: lighter;
}

button{
  float: left;
  background-color: hsl(5, 85%, 63%);
  margin-bottom: 1rem;
  height: 3rem;
  width: 15rem;
  border: none;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: auto;
}

.bottom {
  display: flex;

}

.bottom-left {
  display: flex;
  width: 33%;
   

  
}

.bottom-mid{
  display: flex;
  width: 33%;
   

}

.bottom-right {
  display: flex;
  width: 33%;
   
  
}

.image {
  margin: 1rem 1rem;
  background-size: contain;
  width: 30%;
  min-height: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.container-1{
  background-image: url('C:/Users/fujitsu/challenge-3/src/images/image-retro-pcs.jpg');

}

.container-2{
  background-image: url('C:/Users/fujitsu/challenge-3/src/images/image-top-laptops.jpg');

}


.container-3{
  background-image: url('C:/Users/fujitsu/challenge-3/src/images/image-gaming-growth.jpg');

}
.bottom h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: hsl(233, 8%, 79%)
}

.bottom h2{
  font-weight: 600;
}